/* COMMON */
* { 
    margin: 0;
    padding: 0;
    font-size: 0;
}


body{
    box-sizing: border-box;
    /* webkit: 크롬, 사파리 해당*/
    -webkit-box-sizing: border-box;
    /* moz: 파이어폭스 해당*/
    -moz-box-sizing: border-box;
    /*줄바꿈을 의미*/
    word-break: break-all;
    /*폰트 설정*/
    font-family: 'Heebo', sans-serif;
}


img {
    /*이미지 가로 세로 설정해주기*/
    width: 100%;
    height: 100%;
}


/*a 태그 설정 해주기*/
a {
    text-decoration: none;
    font-size: 14px;
    /*모든 알파벳이 대문자로 표현되는 설정*/
    text-transform: uppercase;
}


ul {
    /*앞에 점이 노출되지 않게끔 설정해주기*/
    list-style-type: none;
}


/* HEADER */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* z인덱스 값은 클수록 더 위에 올라오게 된다.(즉, 사용자에게 더 가까운 곳에 놓여지게 됨)*/
    z-index: 99;
    background-color: white;
    /* box-shadow: 그림자 효과, 헤더 부분 그림자 효과 넣어준다.*/
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}


/*애니메이션 효과 적용해주기(미세한 투명 효과)*/
.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}
/* 애니메이션 만들어주는 키워드:keyframes */
@keyframes navbar-fade {
    /*opacity: 투명도 */
    from { opacity : .4}
    to { opacity: 1}
}
@-webkit-keyframes navbar-fade {
    from { opacity : .4} 
    to { opacity: 1}
}

/*클래스가 붙어 있는 경우, 하나의 태그에 클래스가 모두 선언이 되었을 떄 적용이 된다는 의미*/
.header-area.navbar-fixed {
    position: fixed;
}

/* navbar 정의 */
.header-area > .navbar {
    /* 주의할 점: width를 100%를 주고 margin의 좌 우에 60px를 주면 실질적인 width는 100%+120px 여서 화면 크기를 벗어나게 됨. 
                 그러므로 calc 함수를 이용해서 늘어난 만큼 빼줘야 정확한 100% width가 된다. */
    /*css의 calc 함수 사용*/
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

/* navbar의 width를 브라우저 너비에 따라 바뀌기 위한 작업(즉, 반응형 페이지를 만들기 위한 작업) */

/* 브라우저의 너비가 992px 이상일 때 적용되는 부분 */
@media (min-width: 992px){
    /*header-area에 대한 navbar 부분 */
    .header-area > .navbar{
        max-width: 900px;
        /*가운데 정렬*/
        margin: 0 auto;
    }
}

/* 브라우저의 너비가 1200px 이상일 때 적용되는 부분 */
/* 1200px가 넘으면 위에 992px 이상 구문도 적용되지만, css 작성 흐름 상 1200px 이상일 때 구문이 더 밑에 코딩 되어있어서 아래 구문이 적용됨 */
@media (min-width: 1200px) {
    .header-area > .navbar{
        max-width: 1000px;
}
}

/*a 태그 logo 부분 */
.header-area > .navbar > .navbar-brand {
    display: inline-block;
    
    /*navbar-brand를 세로 가운데 정렬해주기 (position ~ transform 까지 해당 ) */
    position: absolute;
    top: 50%;
    /* 자신의 높이의 50%에 해당하는 길이만큼 위로 끌어올리게 되면 세로 가운데 정렬된 것처럼 볼 수 있음 */
    transform: translateY(-50%);
    font-size: 32px;
    /*커서에 포인터 효과 넣어주기(마우스 가져다 대면 버튼처럼 누를 수 있는 효과 넣어주기) */
    cursor: pointer;
}

/*css 맨 위에 * 부분에 폰트사이즈가 0이라 노출되지 않았던 토글버튼 i 태그가 보여지게 됨 */
.header-area > .navbar > .navbar-toggler * {
    font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
    /*오른쪽에 위치시키기*/
    float: right;
    /*세로 가운데 정렬된 것 같은 느낌 주기 (height ~ line-height) */
    height: 70px;
    line-height: 70px;

    font-size: 32px;
    /*커서에 포인터 효과 넣어주기 */
    cursor: pointer;
}

/* toggler 버튼이 width 992 보다 작을 때만 보이도록 해주는 효과(992px 이상일 때 none 넣어주기) */
@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

/* navbar-menu 부분 */
.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

/* show: 자바스크립트에서 동적으로 추가, 제거해주는 클래스 */
.header-area > .navbar > .navbar-menu.show {
    height: 200px;
}

/* nav-item 에서 item을 하나의 블록으로 두고 세로 정렬 느낌 주기 */
.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

/* 커서를 item에 두면 색이 변하는 효과 넣어주기 */
.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0,0,0,0.4);
}


.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    /* 블록 단위로 전체에 효과 넣기 */
    display:  block;
    /* 패딩 넣어주기 */
    padding-left: 50px;
    /* item 글씨 색 지정 */
    color: white;
    /* 커서에 포인터 효과 넣어주기 */
    cursor: pointer;
}

/* width 992px 이상일 때 navbar-menu를 어떻게 보여줄지 정의 (192 ~ 229 까지)  */
@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        /* transparent: 투명하게 보여주기 */
        background-color: transparent;
        /* 오른쪽에 정렬시키기 */
        float: right;
        top: 0;
        width: auto;
        height: auto;
        /*transition 효과 지우기 */
        transition: none;
    }

    /* show 클래스가 추가 되었을 때 */
    .header-area > .navbar > .navbar-menu.show {
    height: auto;
    }

    /* nav-item 설정 */
    .header-area > .navbar > .navbar-menu > .nav-item {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    }

    /* nav-item:hover 부분에 백그라운드 컬러 설정되어 있는 부분을 transparent로 바꿔주기(커서를 대도 반응이 없게 됨)  */
    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    /* nav-link 클래스 설정 */
    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/*  SECTION CONTAINER - 이미지 정렬*/
.section-container {
    max-width:  1000px;
    margin: 0 auto;
}

/* WELCOME AREA */
.welcome-area {
    height: auto;
}

.welcome-area > .container {
    position: relative;
    height: 100%;
}

.welcome-area > .container > .image-slide {
    height: 100%;
}

.welcome-area > .container > .image-prev,
.welcome-area > .container > .image-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    /* margin-top이 -22px이면 아래로 내려가는 것이 위로 끌어올려짐 */
    margin-top: -22px;
    color: white;
    /* 폰트 굵기 - bold: 두껍게 */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* 꼭지점의 둥글기 설정 */
    border-radius: 0 3px 3px 0;
    /* 드래그 되지 않도록 설정 */
    user-select: none;
}


.welcome-area > .container > .image-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* 마우스 커서 올렸을 때 효과: hover */
.welcome-area > .container > .image-prev:hover,
.welcome-area > .container > .image-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.welcome-area > .container > .dots {
    position: absolute;
    width: 100%;
    /* 아래와 약간 떨어지게 하기 위해 bottom 값 넣기 */
    bottom: 10px;
    /* 정렬 : 가운데 정렬 */
    text-align: center;
}

.welcome-area > .container > .dots > .dot {
    cursor:pointer;
    height: 4px;
    width: 30px;
    /* margin: 좌,우 2px 넣어주기 */
    margin: 0 2px;
    background-color: #717171;
    display: inline-block;
    /* background-color에 대해서 0.6s ease 함수 넣어주기 */
    transition: background-color 0.6s ease;
}

/* .dots에 커서 대면 hover 효과 넣어주기 */
.welcome-area > .container > .dots > .dot.active,
.welcome-area > .container > .dots > .dot:hover {
    background-color: #ddd;
}


/* 이미지 슬라이드에 fade 효과 넣어주기(webkit도 같이 넣어주기) */
.welcome-area > .container > .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@keyframes fade {
    /* opacity: 투명도 */
    from {opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* SECTION */
section {
    /* padding 위 아래로 100px 넣어주기 */
    padding: 100px 0;
}

.title {
    font-size: 50px;
    /* 글씨 굵기: 두껍게 (bold) */
    font-weight: bold;
    /* text 정렬을 가운데 정렬로 넣어주기 */
    text-align: center;
    /* 글자 간 간격 : 3px 넣어주기 */
    letter-spacing: 3px;
    padding-bottom: 100px;
}

/* title 글자에 대한 밑줄 추가해주기 */
.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    /* 0 auto를 넣어주어 가운데 정렬 해주기 */
    margin: 0 auto;
    /* 오른쪽 방향으로 royalblue에서 aquamarine으로 변하게 끔 넣어주기 */
    background-image: linear-gradient(to right, royalblue, aquamarine);
}


/* ABOUT AREA */

/* about-area 지정 */
.about-area {
    height: auto;
    position: relative;
}

/* picture 조정 */
.about-area > .picture {
    display: block;
    text-align: center;
    padding: 20px;
}

/* 992px 이상이면 사진 조정 */
@media (min-width: 992px) {
    .about-area > .picture {
        width: calc(40% - 40px);
        display: inline-block;
    }
}

.about-area > .picture > img {
    /* 이미지의 최대 크기 지정 */
    max-width: 300px;
    max-height: 300px;
    /* 이미지 꼭짓점을 약간 둥글게 해주는 기능 */
    border-radius: 15px;
}

/* name의 글씨크기 및 정렬 */
.about-area > .picture > .name {
    font-size: 25px;
    text-align: center;
    padding: 15px 0;
}

/* description 글씨 크기 및 폰트 지정 */
.about-area > .picture > .description {
    font-size: 14px;
    font-family: 'Noto Sans KR' , sans-serif;
}

/* text 위치 조정 */
.about-area > .text {
    display: block;
    padding: 30px;
}

/* 992px 이상이면 text 위치 조정 */
@media (min-width: 992px) {
    .about-area > .text {
        width: calc(60% - 100px);
        display: inline-block;
        padding: 0 50px;
    }
}

/* text의 모든 내용 사이즈 16px */
.about-area > .text * {
    font-size: 16px;
}

/* intro 글씨 폰트 지정 및 글자 간 간경 조정 */
.about-area > .text > .intro {
    padding: 20px 0;
    font-family: 'Noto-Sans-KR', sans-serif;
    /* 글자 간 간격 */
    letter-spacing: 1.5px;
}

/* ul 태그 padding 위,아래 20px */
.about-area > .text > ul {
    padding: 20px 0;
}

/* li 태그 글자 간 높이 지정 */
.about-area > .text > ul > li {
    height: 40px;
}

/* 정보 내용 색상 변경 */
.about-area > .text > ul > li > .info {
    color: #777;
}

/* i 태그 내용 색상 변경 */
.about-area > .text > ul > li > .info > i {
    color: royalblue;
}

/* sns아이콘 오른쪽 정렬 */
.about-area > .text > .sns {
    text-align: right;
}

/* 992px 이상이면 sns아이콘 왼쪽 정렬 */
@media (min-width: 992px){
    .about-area > .text > .sns {
        text-align: left;
    }
}


/* sns 아이콘 정렬 */
.about-area > .text > .sns > a {
    width: 50px;
    line-height: 50px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

/* sns 아이콘에 커서 댔을 때 hover 효과 넣어주기 */
.about-area > .text > .sns > a:hover {
    background-image: linear-gradient(to right, royalblue, aquamarine);
}


/*SERVICES AREA*/
.services-area {
    height: auto;
    background-color:whitesmoke;
}

.services-area > .container {
    text-align: center;
}

.services-area > .container > .item {
    height: auto;
    background-color: white;
    padding: 20px;
    margin: 20px;
    text-align: left;
    transition: all 0.5s ease;
}

.services-area > .container > .item:hover {
    transform: scale(1.015);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.services-area > .container > .item > .icon {
    padding: 10px 0;
    display: inline-block;
}

.services-area > .container > .item > .icon > span > i {
    font-size: 48px;
    color: blueviolet;
}

.services-area > .container > .item > .title2 {
    font-size: 42px;
    font-weight: bold;
    padding: 10px 0;
}

.services-area > .container > .item > .service {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}


/* PORTFOLIO AREA */
.portfolio-area {
	height: auto;
}

.portfolio-area > .filter > .list {
	text-align: center;
}

.portfolio-area > .filter > .list > .listItem {
	display: inline-block;
	font-weight: bold;
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
}

.portfolio-area > .filter > .list > .listItem:hover,
.portfolio-area > .filter > .list > .listItem.active {
	color: royalblue;
}

.portfolio-area > .container {
	padding-top: 50px;
}

.portfolio-area > .container > .filterItem {
	display: none;
	width: calc(100% - 40px);
	margin: 20px;
	text-align: center;
}

@media (min-width: 992px) {
	.portfolio-area > .container > .filterItem {
		width: calc(50% - 40px);
	}
}


.portfolio-area > .container > .filterItem.show {
	display: inline-block;
}

.portfolio-area > .container > .filterItem > .image {
	position: relative;
	max-height: 700px;
}

@media (min-width: 992px) {
	.portfolio-area > .container > .filterItem > .image {
		height: 500px;
	}
}

.portfolio-area > .container > .filterItem > .image > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease;
	cursor: pointer;
}

.portfolio-area > .container > .filterItem > .image:hover > .overlay {
	background-image: linear-gradient(to right, royalblue , aquamarine);
	opacity: 0.9;
}

.portfolio-area > .container > .filterItem > .image > .overlay > i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 48px;
}

.portfolio-area > .container > .filterItem > .image > img {
	border-radius: 5px;
}

.portfolio-area > .container > .filterItem > .main {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
}

.portfolio-area > .container > .filterItem > .sub {
	font-size: 16px;
	color: #777;
}

.portfolio-area > .container > .filterItem > .text {
	display: none;
}

#portfolioModal {
	display: none;
	position: fixed; 
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	overflow: hidden;
}

#portfolioModal > .close {
	display: block;
	text-align: right;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	padding: 0 20px;
}

#portfolioModal > .close:hover,
#portfolioModal > .close:focus {
	color: #bbb;
}

#portfolioModal > .container {
	width: 100%;
	height: auto;
}

#portfolioModal > .container > img {
	width: calc(100% - 40px);
	padding: 20px;
}

@media (min-width: 992px) {
	#portfolioModal > .container > img {
		max-width: 700px;
	}
}

#portfolioModal > .container > .modal-main {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 10px 0;
}

#portfolioModal > .container > .modal-sub {
	font-size: 20px;
	color: white;
	padding: 10px 0;
}

#portfolioModal > .container > .modal-text {
	font-size: 16px;
	color: #bbb;
}

/* REVIERW AREA */
.review-area {
	height: auto;
	background-color: #f9f9ff;
}

.review-area > .container {
	position: relative;
	text-align: center;
	background-color: white;
	margin: 20px;
	padding: 40px;
}

@media (min-width: 992px) {
	.review-area > .container {
		padding: 20px 0;
	}
}

.review-area > .container > .review-prev,
.review-area > .container > .review-next {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	padding: 10px;
	cursor: pointer;
}

.review-area > .container > .review-prev {
	left: 0;
}

.review-area > .container > .review-next {
	right: 0;
}

.review-area > .container > .review-prev:hover,
.review-area > .container > .review-next:hover {
	color: rgba(0, 0, 0, 0.9);
}

.review-area > .container > .review-slide {
	display: inline-block;
	width: 100%;
	text-align: left;
}

@media (min-width: 992px) {
	.review-area > .container > .review-slide {
		width: 300px;
	}
}

.review-area > .container > .review-slide.res-show {
	display: inline-block;
}

.review-area > .container > .review-slide.show {
	display: none;
}

@media (min-width: 992px) {
	.review-area > .container > .review-slide.show {
		display: inline-block;
	}
}

.review-area > .container > .review-slide.hide {
	display: none;
}

.review-area > .container > .review-slide > .image {
	display: inline-block;
}

.review-area > .container > .review-slide > .image > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.review-area > .container > .review-slide > .name {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	padding: 0 10px;
}

.review-area > .container > .review-slide > .job {
	display: inline-block;
	font-size: 18px;
}

.review-area > .container > .review-slide > .text {
	padding: 30px;
}

.review-area > .container > .review-slide > .text > i {
	font-size: 16px;
	color: gray;
}

.review-area > .container > .review-slide > .rating {
	text-align: right;
	padding: 10px;
}

.review-area > .container > .review-slide > .rating > span {
	font-size: 14px;
	color: orange;
}

/* FOOTER AREA */
.footer-area {
	height: auto;
	text-align: center;
	background-color: black;
}

.footer-area * {
	color: white;
}

.footer-area > .sns > .item {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.footer-area > .sns > .item > i {
	font-size: 24px;
}

.footer-area > .info > p {
	font-size: 16px;
	padding: 10px 0;
}